@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap");

$listColor: #f2994a;
$listNumberColor: #ffffff;
$smallColor: #bdbdbd;
$timeColor: #4f4f4f;
$footerColor: #828282;

* {
  padding: 0px;
  margin: 0px;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}

h2 {
  font-family: "Playfair Display";
  font-size: 2rem;
  margin-block: 30px;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-family: "Playfair Display";
  margin-block: 25px;
  font-style: italic;
  font-weight: 400;
}

p {
  font-size: 1.5rem;
}

span {
  font-size: 1.4rem;
}

input {
  width: 20px;
  height: 20px;
}

ul li {
  font-size: 1.6rem;
}

b {
  font-size: 1.6rem;
}

.Header {
  h1 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 20px;
    margin-left: 30px;
    width: 90%;
    max-width: 590px;
  }
  &_hero {
    display: flex;
    justify-content: center;

    img {
      max-width: 970px;
    }
  }
}

.Dots {
  position: absolute;
  span {
    margin: 0px;
  }
}

.Main_stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  max-width: 500px;
  &-item {
    display: flex;
    margin-block: 10px;

    &-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      small:nth-child(1) {
        color: $smallColor;
        font-size: 1rem;
      }
      small:nth-child(2) {
        font-size: 1.5rem;
      }
    }

    .material-symbols-outlined {
      color: $timeColor;
    }
  }
  &-top {
    display: flex;
    align-items: flex-start;
  }
}

.Main_stats-bottom {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.Stats_top-ammount {
  small {
    font-size: 1rem;
    &:nth-child(1) {
      color: $smallColor;
      font-size: 1rem;
    }
    &:nth-child(3) {
      color: $listColor;
      font-size: 1.4rem;
    }
  }
}

.Item {
  margin-top: 5px;
  &-ingredient {
    display: flex;
    &-text {
      margin-left: 10px;
    }
  }
}

.Main_instructions {
  &-list {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    margin-bottom: 30px;

    list-style: none;

    li {
      margin-block: 5px;
      margin-left: 20px;

      padding-inline: 10px;

      position: relative;
      min-height: 45px;
      width: 90%;
      max-width: 530px;
      small {
        font-size: 2.4rem;
        background-color: $listColor;
        border-radius: 5px;
        color: $listNumberColor;
        font-family: "Playfair Display";

        padding-block-start: 2px;
        padding-block-end: 6px;
        padding-inline: 13px;
        margin: 10px;
        position: absolute;
        left: -45px;
        top: -8px;
      }
    }
  }
}

.Main_ingredients-item {
  ul {
    position: relative;
    li {
      margin-left: 30px;
      margin-block: 15px;
      list-style: none;
      line-height: 25px;
      max-width: 554px;
    }
  }

  input {
    position: absolute;
    left: 0px;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: $listColor;
  margin: 5px;
}

.source {
  margin-bottom: 130px;
  margin-top: 50px;
  text-align: center;
  a,
  small {
    font-size: 1.5rem;
    color: $footerColor;
  }
  a:hover {
    color: $listColor;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  small,
  a {
    font-size: 1.5rem;
    color: $footerColor;
  }
  a:hover {
    font-size: 1.5rem;
    color: $listColor;
  }
}

@media only screen and (min-width: 500px) {
  .Main {
    display: flex;
    flex-direction: column;
  }

  .Main_stats {
    margin: 40px auto 20px;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 45px;
    &-top {
      justify-content: start;
      align-items: flex-start;
    }
    &-bottom {
      justify-content: space-between;
    }
  }
  .Main_instructions-list {
    align-items: flex-start;
    margin-left: 50px;
    li {
      margin-block: 30px;
      small {
        left: -50px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }

  li,
  span,
  br {
    font-size: 1.6rem;
  }
  .Main,
  .Header {
    padding-inline: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .Main {
    position: relative;
    margin-top: 40px;
  }
  .Main,
  .Header {
    padding-inline: 230px;
  }

  .Header {
    p {
      margin-block: 40px;
    }
  }
  .Main_stats {
    position: absolute;
    right: 240px;
    width: 216px;
    padding-block: 45px;
    &-bottom {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .Stats_top-ammount small {
    font-size: 1.5rem;
  }

  .Main_stats-item {
    span {
      font-size: 2rem;
      margin-block: 10px;
    }
  }
}
